.auth-page {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5f7fb;
}

.auth-card {
  width: 420px;

  padding: 32px;

  border-radius: 20px;
}

.auth-header {
  margin-bottom: 24px;
  text-align: center;
}

.auth-header h1 {
  margin-bottom: 8px;
  font-size: 28px;
  font-weight: 600;
}

.auth-header p {
  color: #777;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth-button {
  height: 48px;
}

.auth-footer {
  margin-top: 20px;
  text-align: center;
}

.auth-footer a {
  text-decoration: none;
  font-weight: 500;
}
